# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Node
node_modules/
.next/
out/
build/
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts